# SPDX-FileCopyrightText: 2026 Maria Höller, German Aerospace Center (DLR)
#
# SPDX-License-Identifier: GPL-3.0-or-later

__pycache__/
*.pyo
*$py.class
.python-version
*.pyc
.env
.vscode/
.idea/
build/
dist/
sdist/
wheels/
moca_env/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
**/results/
src/uncertainty_lca.egg-info
*.so
*.egg
*.egg-info/
.tox/
.nox/
**/MOCA_test_project.tar.gz
*.log
.venv