# SPDX-FileCopyrightText: 2026 Maria Höller, German Aerospace Center (DLR)
#
# SPDX-License-Identifier: GPL-3.0-or-later

.python-version
*.pyc
moca_env/
**/results/
src/uncertainty_lca.egg-info
**/MOCA_test_project.tar.gz
